<div class="main-content">
    <div class="container-fluid pt-5">
        <div class="row justify-content-center">
            <div class="col-12">

                {{!-- Header --}}
                <div class="header">
                    <div class="header-body">
                        <div class="row align-items-center">

                            {{!-- Título --}}
                            <div class="col">

                                <h6 class="header-pretitle">
                                    Lista de
                                </h6>

                                <h1 class="header-title text-truncate">
                                    Entradas
                                </h1>

                            </div>

                            {{!-- Navegación entre Lista y Cartas --}}
                            <div class="col-auto">

                                {{!-- Botones --}}
                                <a href="/dashboard/blog/nuevo-post " class="btn btn-primary ml-2">
                                    <i class="fe fe-plus-circle mr-2"></i> Crear nueva entrada
                                </a>

                            </div>
                        </div> <!-- / .row -->

                    </div>
                </div>

                {{!-- Tabla --}}
                <div class="card"
                    data-list='{"valueNames": ["item-title", "item-author", "item-date"], "page": 10, "pagination": {"paginationClass": "list-pagination"}}'
                    id="entriesList">

                    <div class="card-header">
                        <div class="row align-items-center">

                            {{!-- Buscador --}}
                            <div class="col">

                                <form>
                                    <div class="input-group input-group-flush">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fe fe-search"></i>
                                            </span>
                                        </div>
                                        <input class="list-search form-control" type="search" placeholder="Buscar">
                                    </div>
                                </form>

                            </div>

                            {{!-- Filtros --}}
                            <div class="col-auto">

                                <div class="dropdown">

                                    {{!-- Toggle button --}}
                                    <button class="btn btn-sm btn-white" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fe fe-sliders mr-1"></i> Filtrar <span
                                            class="badge badge-primary ml-1 d-none">0</span>
                                    </button>

                                    {{!-- Menu --}}
                                    <form class="dropdown-menu dropdown-menu-right dropdown-menu-card">

                                        <div class="card-header">

                                            <h4 class="card-header-title">
                                                Filtros
                                            </h4>

                                            {{!-- Eliminar filtros --}}
                                            <button class="btn btn-sm btn-link text-reset d-none" type="reset">
                                                <small>Eliminar filtros</small>
                                            </button>

                                        </div>

                                        <div class="card-body">

                                            {{!-- Lista de filtros --}}
                                            <div class="list-group list-group-flush mt-n4 mb-4">

                                                {{!-- Especialidades --}}
                                                <div class="list-group-item">
                                                    <div class="row">

                                                        {{!-- Título --}}
                                                        <div class="col">
                                                            <small>Especialidad</small>
                                                        </div>

                                                        {{!-- Seleccionar --}}
                                                        <div class="col-auto">

                                                            <select class="custom-select custom-select-sm"
                                                                name="item-category" data-toggle="select"
                                                                data-options='{"minimumResultsForSearch": -1}'>
                                                                <option value="*" selected>Todos</option>
                                                                <option value="Adultos">Adultos</option>
                                                                <option value="Infantojuvenil">Infantojuvenil</option>
                                                                <option value="Tercera edad">Tercera edad</option>
                                                                <option value="Parejas">Parejas</option>
                                                            </select>

                                                        </div>

                                                    </div> <!-- / .row -->
                                                </div>

                                                {{!-- Estado --}}
                                                <div class="list-group-item">
                                                    <div class="row">

                                                        {{!-- Título --}}
                                                        <div class="col">
                                                            <small>Estado</small>
                                                        </div>

                                                        {{!-- Seleccionar --}}
                                                        <div class="col-auto">

                                                            <select class="custom-select custom-select-sm"
                                                                name="item-status" data-toggle="select"
                                                                data-options='{"minimumResultsForSearch": -1}'>
                                                                <option value="*" selected>Todos</option>
                                                                <option value="Activo">Activo</option>
                                                                <option value="Ausente">Ausente</option>
                                                                <option value="Inactivo">Inactivo</option>
                                                            </select>

                                                        </div>
                                                    </div> <!-- / .row -->
                                                </div>
                                            </div>

                                            <!-- Button -->
                                            <button class="btn btn-block btn-primary" type="submit">
                                                Aplicar filtros
                                            </button>

                                        </div>
                                    </form>

                                </div>

                            </div>

                        </div> <!-- / .row -->
                    </div>

                    <div class="table-responsive">
                        <table class="table table-sm table-hover table-nowrap card-table">
                            <thead>
                                <tr>

                                    {{!-- Checkbox --}}
                                    <th>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="list-checkbox-all custom-control-input"
                                                id="listCheckboxAll">
                                            <label class="custom-control-label" for="listCheckboxAll"></label>
                                        </div>

                                    </th>

                                    {{!-- Título --}}
                                    <th>
                                        <a class="list-sort text-muted font-size-sm" data-sort="item-title" href="#">
                                            <i class="fe fe-info mr-1"></i> Título
                                        </a>
                                    </th>

                                    {{!-- Autor --}}
                                    <th>
                                        <a class="list-sort text-muted  font-size-sm" data-sort="item-author" href="#">
                                            <i class="fe fe-user mr-1"></i> Autor
                                        </a>
                                    </th>

                                    <th colspan="2">
                                        <a class="list-sort text-muted  font-size-sm" data-sort="item-date" href="#">
                                            <i class="fe fe-calendar mr-1"></i> Fecha de publicación
                                        </a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody class="list font-size-base">

                                {{#each blogPost}}
                                <tr>

                                    {{!-- Checkbox --}}
                                    <td>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="list-checkbox custom-control-input"
                                                id="listCheckboxOne">
                                            <label class="custom-control-label" for="listCheckboxOne"></label>
                                        </div>

                                    </td>

                                    {{!-- Cover y Título --}}
                                    <td>
                                        <div class="avatar avatar-xs align-middle mr-2">
                                            <img class="avatar-img rounded-circle" src="{{coverURL}}" alt="{{title}}">
                                        </div>

                                        <a href="/blog/{{slug}}" class="item-title text-reset h4">{{title}}</a>
                                    </td>

                                    {{!-- Autor --}}
                                    <td>
                                        <span class="item-author">{{author.name}}</span>
                                    </td>


                                    {{!-- Fecha de publicación --}}
                                    <td>
                                        <a class="item-session text-reset" href="#">{{date createdAt "LL"}}</a>
                                    </td>

                                    {{!-- Botones de Editar y Eliminar --}}
                                    <td class="text-right">

                                        {{!-- Icono dropdown --}}
                                        <div class="dropdown">
                                            <a class="dropdown-ellipses dropdown-toggle" href="#" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe fe-more-vertical"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-right">
                                                
                                                {{!-- Editar --}}
                                                <a href="/dashboard/blog/editar/{{_id}}" class="dropdown-item">
                                                    <i class="fe fe-edit mr-2"></i> Editar
                                                </a>

                                                {{!-- Eliminar --}}
                                                <form action="/dashboard/blog/eliminar/{{_id}}?_method=DELETE"
                                                    method="POST">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button class="dropdown-item text-danger">
                                                        <i class="fe fe-trash-2 mr-2"></i> Eliminar
                                                    </button>
                                                </form>

                                            </div>
                                        </div>

                                    </td>

                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                    </div>

                    <div class="card-footer d-flex justify-content-between">

                        <!-- Pagination (prev) -->
                        <ul class="list-pagination-prev pagination pagination-tabs card-pagination">
                            <li class="page-item">
                                <a class="page-link pl-0 pr-4 border-right" href="#">
                                    <i class="fe fe-arrow-left mr-1"></i>
                                </a>
                            </li>
                        </ul>

                        <!-- Pagination -->
                        <ul class="list-pagination pagination pagination-tabs card-pagination"></ul>

                        <!-- Pagination (next) -->
                        <ul class="list-pagination-next pagination pagination-tabs card-pagination">
                            <li class="page-item">
                                <a class="page-link pl-4 pr-0 border-left" href="#">
                                    <i class="fe fe-arrow-right ml-1"></i>
                                </a>
                            </li>
                        </ul>

                        <!-- Alert -->
                        <div class="list-alert alert alert-dark alert-dismissible border fade" role="alert">

                            <!-- Content -->
                            <div class="row align-items-center">
                                <div class="col">

                                    <!-- Checkbox -->
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="listAlertCheckbox"
                                            checked disabled>
                                        <label class="custom-control-label text-white" for="listAlertCheckbox"><span
                                                class="list-alert-count">0</span> entrada(s)</label>
                                    </div>

                                </div>
                                <div class="col-auto mr-n3">

                                    <!-- Button -->
                                    <button class="btn btn-sm btn-white-20">
                                        Editar
                                    </button>

                                    <!-- Button -->
                                    <button class="btn btn-sm btn-white-20">
                                        Eliminar
                                    </button>

                                </div>
                            </div> <!-- / .row -->

                            <!-- Close -->
                            <button type="button" class="list-alert-close close" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>

                        </div>

                    </div>
                </div>

            </div>



        </div> <!-- / .main-content -->