<!-- MAIN CONTENT
    ================================================== -->
<div class="main-content">

    <!-- CONTENT -->
    <div class="container-fluid mt-5">
        <div class="row">


            <div class="col-12">

                <!-- Files -->
                <div class="card" data-toggle="lists" data-options='{"valueNames": ["name"]}'>
                    <div class="card-header">

                        <!-- Title -->
                        <h4 class="card-header-title">
                            Posts
                        </h4>

                        <!-- Dropdown -->
                        <div class="dropdow mr-3">

                            <!-- Toggle -->
                            <a href="#" class="small text-muted dropdown-toggle" data-toggle="dropdown">
                                Ordenar
                            </a>

                            <!-- Menu -->
                            <div class="dropdown-menu">
                                <a class="dropdown-item sort" data-sort="name" href="#!">
                                    Asc
                                </a>
                                <a class="dropdown-item sort" data-sort="name" href="#!">
                                    Desc
                                </a>
                            </div>

                        </div>

                        <!-- Button -->
                        <a href="/dashboard/blog/nuevo-post" class="btn btn-sm btn-primary">
                            Crear nueva entrada <i class="fe fe-plus ml-2"></i>
                        </a>

                    </div>
                    <div class="card-header">

                        <!-- Form -->
                        <form>
                            <div class="input-group input-group-flush input-group-merge">
                                <input type="search" class="form-control form-control-prepended search"
                                    placeholder="Buscar">

                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="fe fe-search"></span>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="card-body">

                        <!-- List -->
                        <ul class="list-group list-group-lg list-group-flush list my-n4">

                            {{#each blogPost}}
                            <li class="list-group-item">

                                <div class="row align-items-center">
                                    <div class="col-auto">

                                        <!-- Avatar -->
                                        <a href="#!" class="avatar avatar-lg">
                                            <img src="{{coverURL}}" alt="..." class="avatar-img rounded">
                                        </a>

                                    </div>
                                    <div class="col ml-n2">

                                        <!-- Title -->
                                        <h4 class="mb-3 name">
                                            <a href="/blog/{{slug}}">{{title}}</a>
                                        </h4>

                                        <!-- Text -->
                                        <p class="card-text small text-muted mb-3 pr-0 pr-lg-8">
                                            {{description}}
                                        </p>

                                        <!-- Time -->
                                        <p class="card-text small text-secondary">
                                            <i class="fe fe-user mr-2"></i> <strong>Autor:</strong> Laura Marín
                                            <i class="fe fe-calendar mx-2"></i> <strong>Fecha de publicación:</strong>
                                            {{date createdAt}}
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        
                                        <!-- Button -->


                                        <a href="/dashboard/blog/editar/{{_id}}" class="btn btn-sm btn-secondary d-none d-md-inline-block">
                                            Editar <i class="fe fe-edit ml-1"></i>
                                        </a>

                                        <form action="/dashboard/blog/eliminar/{{_id}}?_method=DELETE" method="post" class="d-none d-md-inline-block">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button class="btn btn-sm btn-danger">
                                                  Eliminar <i class="fe fe-x ml-1"></i>
                                            </button>
                                        </form>

                                    </div>

                                    <div class="col-auto">

                                        <!-- Dropdown -->
                                        <div class="dropdown">

                                            <!-- Toggle -->
                                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fe fe-more-vertical"></i>
                                            </a>

                                            <!-- Menu -->
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#!" class="dropdown-item">
                                                    Action
                                                </a>
                                                <a href="#!" class="dropdown-item">
                                                    Another action
                                                </a>
                                                <a href="#!" class="dropdown-item">
                                                    Something else here
                                                </a>
                                            </div>

                                        </div>

                                    </div>
                                </div> <!-- / .row -->

                            </li>
                            {{/each}}

                    </div>
                </div> <!-- / .row -->
            </div>



        </div> <!-- / .main-content -->