<div class="main-content pt-5">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">

        {{!-- Header   --}}
        <div class="header">
          <div class="header-body">
            <div class="row align-items-center">

              {{!-- Título --}}
              <div class="col">

                <h6 class="header-pretitle">
                  Lista de
                </h6>

                <h1 class="header-title text-truncate">
                  Pacientes
                </h1>

              </div>

              {{!-- Navegación entre Lista y Cartas --}}
              <div class="col-auto">

                <div class="nav btn-group d-inline-flex" role="tablist">

                  <button class="btn btn-white active" id="patientsListTab" data-toggle="tab"
                    data-target="#patientsListPane" role="tab" aria-controls="patientsListPane" aria-selected="true">
                    <span class="fe fe-list"></span>
                  </button>

                  <button class="btn btn-white" id="patientsCardsTab" data-toggle="tab" data-target="#patientsCardsPane"
                    role="tab" aria-controls="patientsCardsPane" aria-selected="false">
                    <span class="fe fe-grid"></span>
                  </button>

                </div> <!-- / .nav -->

                {{!-- Botones --}}
                <a href="/dashboard/pacientes/nueva-ficha" class="btn btn-primary ml-2">
                  <i class="fe fe-user-plus mr-2"></i> Crear nueva ficha
                </a>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>

        {{!-- Contenido --}}
        <div class="tab-content">

          {{!-- Lista de pacientes --}}
          <div class="tab-pane fade show active" id="patientsListPane" role="tabpanel"
            aria-labelledby="patientsListTab">

            <!-- Card -->
            <div class="card"
              data-list='{"valueNames": ["item-name", "item-category", "item-email", "item-phone", "item-status", "item-session"], "page": 10, "pagination": {"paginationClass": "list-pagination"}}'
              id="contactsList">

              <div class="card-header">
                <div class="row align-items-center">

                  {{!-- Buscador --}}
                  <div class="col">

                    <form>
                      <div class="input-group input-group-flush">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fe fe-search"></i>
                          </span>
                        </div>
                        <input class="list-search form-control" type="search" placeholder="Buscar">
                      </div>
                    </form>

                  </div>

                  {{!-- Filtros --}}
                  <div class="col-auto">

                    <div class="dropdown">

                      {{!-- Toggle button --}}
                      <button class="btn btn-sm btn-white" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fe fe-sliders mr-1"></i> Filtrar <span
                          class="badge badge-primary ml-1 d-none">0</span>
                      </button>

                      {{!-- Menu --}}
                      <form class="dropdown-menu dropdown-menu-right dropdown-menu-card">

                        <div class="card-header">

                          <h4 class="card-header-title">
                            Filtros
                          </h4>

                          {{!-- Eliminar filtros --}}
                          <button class="btn btn-sm btn-link text-reset d-none" type="reset">
                            <small>Eliminar filtros</small>
                          </button>

                        </div>

                        <div class="card-body">

                          {{!-- Lista de filtros --}}
                          <div class="list-group list-group-flush mt-n4 mb-4">

                            {{!-- Especialidades --}}
                            <div class="list-group-item">
                              <div class="row">

                                {{!-- Título --}}
                                <div class="col">
                                  <small>Especialidad</small>
                                </div>

                                {{!-- Seleccionar --}}
                                <div class="col-auto">

                                  <select class="custom-select custom-select-sm" name="item-category"
                                    data-toggle="select" data-options='{"minimumResultsForSearch": -1}'>
                                    <option value="*" selected>Todos</option>
                                    <option value="Adultos">Adultos</option>
                                    <option value="Infantojuvenil">Infantojuvenil</option>
                                    <option value="Tercera edad">Tercera edad</option>
                                    <option value="Parejas">Parejas</option>
                                  </select>

                                </div>

                              </div> <!-- / .row -->
                            </div>

                            {{!-- Estado --}}
                            <div class="list-group-item">
                              <div class="row">

                                {{!-- Título --}}
                                <div class="col">
                                  <small>Estado</small>
                                </div>

                                {{!-- Seleccionar --}}
                                <div class="col-auto">

                                  <select class="custom-select custom-select-sm" name="item-status" data-toggle="select"
                                    data-options='{"minimumResultsForSearch": -1}'>
                                    <option value="*" selected>Todos</option>
                                    <option value="Activo">Activo</option>
                                    <option value="Ausente">Ausente</option>
                                    <option value="Inactivo">Inactivo</option>
                                  </select>

                                </div>
                              </div> <!-- / .row -->
                            </div>
                          </div>

                          <!-- Button -->
                          <button class="btn btn-block btn-primary" type="submit">
                            Aplicar filtros
                          </button>

                        </div>
                      </form>

                    </div>

                  </div>
                </div> <!-- / .row -->
              </div>

              <div class="table-responsive">
                <table class="table table-sm table-hover table-nowrap card-table">
                  <thead>
                    <tr>
                      <th>

                        <!-- Checkbox -->
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="list-checkbox-all custom-control-input" id="listCheckboxAll">
                          <label class="custom-control-label" for="listCheckboxAll"></label>
                        </div>

                      </th>
                      <th>
                        <a class="list-sort text-muted font-size-sm" data-sort="item-name" href="#">
                          <i class="fe fe-user mr-1"></i> Nombre</a>
                      </th>
                      <th>
                        <a class="list-sort text-muted font-size-sm" data-sort="item-category" href="#">
                          <i class="fe fe-zap mr-1"></i> Especialidad</a>
                      </th>
                      <th>
                        <a class="list-sort text-muted font-size-sm" data-sort="item-email" href="#">
                          <i class="fe fe-mail mr-1"></i> Email</a>
                      </th>
                      <th>
                        <a class="list-sort text-muted font-size-sm" data-sort="item-phone" href="#">
                          <i class="fe fe-phone mr-1"> </i> Teléfono</a>
                      </th>
                      <th>
                        <a class="list-sort text-muted font-size-sm" data-sort="item-status" href="#">
                          <i class="fe fe-info mr-1"></i> Estado</a>
                      </th>
                      <th colspan="2">
                        <a class="list-sort text-muted font-size-sm" data-sort="item-session" href="#">
                          <i class="fe fe-calendar mr-1"></i> Última sesión</a>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="list font-size-base">

                    {{#each patient}}
                    <tr>

                      {{!-- Checkbox --}}
                      <td>

                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="list-checkbox custom-control-input" id="listCheckboxOne">
                          <label class="custom-control-label" for="listCheckboxOne"></label>
                        </div>

                      </td>

                      {{!-- Nombre y avatar --}}
                      <td>

                        <!-- Avatar -->
                        <div class="avatar avatar-xs align-middle mr-2">
                          <span class="avatar-title rounded-circle">{{initial firstName}}{{initial lastName}}</span>
                        </div>

                        <a class="item-name text-reset h4" href="/dashboard/pacientes/{{slug}}">
                          {{firstName}} {{lastName}}
                        </a>

                      </td>

                      {{!-- Especialidad --}}
                      <td>
                        <span class="item-category">Adultos</span>
                      </td>

                      {{!-- Correo eléctronico --}}
                      <td>
                        <a class="item-email text-reset" href="mailto:{{email}}">{{email}}</a>
                      </td>

                      {{!-- Teléfono --}}
                      <td>
                        <a class="item-phone text-reset" href="tel:{{phone}}">{{phone}}</a>
                      </td>

                      {{!-- Estado --}}
                      <td>
                        <span class="item-status badge badge-soft-success">Activo</span>
                      </td>

                      {{!-- Última sesión --}}
                      <td>
                        <a class="item-session text-reset" href="#">{{date createdAt "L"}}</a>
                      </td>

                      <td class="text-right">

                        <!-- Dropdown -->
                        <div class="dropdown">
                          <a class="dropdown-ellipses dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right">

                            <a href="#!" class="dropdown-item">
                              <i class="fe fe-edit mr-2"></i> Editar
                            </a>

                            {{!-- Eliminar --}}
                            <form action="/dashboard/pacientes/eliminar/{{_id}}?_method=DELETE" method="POST">
                              <input type="hidden" name="_method" value="DELETE">
                              <button class="dropdown-item text-danger">
                                <i class="fe fe-trash-2 mr-2"></i> Eliminar
                              </button>
                            </form>

                          </div>
                        </div>

                      </td>
                    </tr>
                    {{/each}}

                  </tbody>
                </table>
              </div>

              <div class="card-footer d-flex justify-content-between">

                <!-- Pagination (prev) -->
                <ul class="list-pagination-prev pagination pagination-tabs card-pagination">
                  <li class="page-item">
                    <a class="page-link pl-0 pr-4 border-right" href="#">
                      <i class="fe fe-arrow-left mr-1"></i>
                    </a>
                  </li>
                </ul>

                <!-- Pagination -->
                <ul class="list-pagination pagination pagination-tabs card-pagination"></ul>

                <!-- Pagination (next) -->
                <ul class="list-pagination-next pagination pagination-tabs card-pagination">
                  <li class="page-item">
                    <a class="page-link pl-4 pr-0 border-left" href="#">
                      <i class="fe fe-arrow-right ml-1"></i>
                    </a>
                  </li>
                </ul>

                <!-- Alert -->
                <div class="list-alert alert alert-dark alert-dismissible border fade" role="alert">

                  <!-- Content -->
                  <div class="row align-items-center">
                    <div class="col">

                      <!-- Checkbox -->
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="listAlertCheckbox" checked disabled>
                        <label class="custom-control-label text-white" for="listAlertCheckbox"><span
                            class="list-alert-count">0</span> paciente(s)</label>
                      </div>

                    </div>
                    <div class="col-auto mr-n3">

                      <!-- Button -->
                      <button class="btn btn-sm btn-white-20">
                        Editar
                      </button>

                      <!-- Button -->
                      <button class="btn btn-sm btn-white-20">
                        Eliminar
                      </button>

                    </div>
                  </div> <!-- / .row -->

                  <!-- Close -->
                  <button type="button" class="list-alert-close close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>

                </div>

              </div>
            </div>
          </div>

          {{!-- Cartas de pacientes --}}
          <div class="tab-pane fade" id="patientsCardsPane" role="tabpanel" aria-labelledby="patientsCardsTab">

            <div
              data-list='{"valueNames": ["item-name", "item-category", "item-email", "item-phone", "item-status", "item-sessions"], "page": 9, "pagination": {"paginationClass": "list-pagination"}}'
              id="patientsCards">

              {{!-- Header --}}
              <div class="row align-items-center mb-4">

                {{!-- Buscador --}}
                <div class="col">

                  <form>
                    <div class="input-group input-group-lg input-group-merge">
                      <input class="list-search form-control form-control-prepended" type="search" placeholder="Buscar">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <span class="fe fe-search"></span>
                        </div>
                      </div>
                    </div>
                  </form>

                </div>

                {{!-- Seleccionar pacientes visibles por página --}}
                <div class="col-auto mr-n3">

                  <form>
                    <select class="custom-select custom-select-sm form-control-flush" data-toggle="select"
                      data-options='{"minimumResultsForSearch": -1}'>
                      <option value="1" selected>9 por página</option>
                      <option value="5">Todos</option>
                    </select>
                  </form>

                </div>

                {{!-- Filtrar --}}
                <div class="col-auto">

                  <div class="dropdown">

                    {{!-- Toggle --}}
                    <button class="btn btn-sm btn-white" type="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fe fe-sliders mr-1"></i> Filtrar <span class="badge badge-primary ml-1 d-none">0</span>
                    </button>

                    {{!-- Menú --}}
                    <form class="dropdown-menu dropdown-menu-right dropdown-menu-card">
                      <div class="card-header">

                        <h4 class="card-header-title">
                          Filtros
                        </h4>

                        <!-- Link -->
                        <button class="btn btn-sm btn-link text-reset d-none" type="reset">
                          <small>Eliminar filtros</small>
                        </button>

                      </div>
                      <div class="card-body">

                        {{!-- Lista de filtros --}}
                        <div class="list-group list-group-flush mt-n4 mb-4">

                          {{!-- Especialidad --}}
                          <div class="list-group-item">
                            <div class="row">

                              <div class="col">
                                <small>Especialidad</small>
                              </div>

                              {{!-- Opciones --}}
                              <div class="col-auto">

                                <select class="custom-select custom-select-sm" name="item-category" data-toggle="select"
                                  data-options='{"minimumResultsForSearch": -1}'>
                                  <option value="*" selected>Todos</option>
                                  <option value="Adultos">Adultos</option>
                                  <option value="Infantojuvenil">Infantojuvenil</option>
                                  <option value="Tercera edad">Tercera edad</option>
                                  <option value="Parejas">Parejas</option>
                                </select>

                              </div>

                            </div> <!-- / .row -->
                          </div>

                          {{!-- Estado --}}
                          <div class="list-group-item">
                            <div class="row">

                              <div class="col">
                                <small>Estado</small>
                              </div>

                              {{!-- Opciones --}}
                              <div class="col-auto">

                                <select class="custom-select custom-select-sm" name="item-status" data-toggle="select"
                                  data-options='{"minimumResultsForSearch": -1}'>
                                  <option value="*" selected>Todos</option>
                                  <option value="Activo">Activo</option>
                                  <option value="Ausente">Ausente</option>
                                  <option value="Inactivo">Inactivo</option>
                                </select>

                              </div>
                            </div> <!-- / .row -->
                          </div>
                        </div>

                        {{!-- Botones --}}
                        <button class="btn btn-block btn-primary" type="submit">
                          Aplica filtros
                        </button>

                      </div>
                    </form>

                  </div>

                </div>
              </div> <!-- / .row -->

              {{!-- Lista de cartas --}}
              <div class="list row">

                {{#each patient}}
                <div class="col-12 col-md-6 col-xl-4">

                  {{!-- Carta --}}
                  <div class="card">
                    <div class="card-body">

                      {{!-- Header --}}
                      <div class="row align-items-center">

                        {{!-- Checkbox --}}
                        <div class="col">
                          <div class="custom-control custom-control-circle custom-checkbox">
                            <input type="checkbox" class="list-checkbox custom-control-input" id="cardsCheckboxOne">
                            <label class="custom-control-label" for="cardsCheckboxOne"></label>
                          </div>
                        </div>

                        {{!-- Opciones --}}
                        <div class="col-auto">

                          <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <i class="fe fe-more-vertical"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">

                              {{!-- Editar --}}
                              <a href="#!" class="dropdown-item">
                                <i class="fe fe-edit mr-2"></i> Editar
                              </a>

                              {{!-- Eliminar --}}
                              <a href="#!" class="dropdown-item text-danger">
                                <i class="fe fe-trash-2 mr-2"></i> Eliminar
                              </a>

                            </div>
                          </div>

                        </div>
                      </div> <!-- / .row -->

                      {{!-- Avatar --}}
                      <a href="profile-posts.html" class="avatar avatar-xl card-avatar">
                        <span class="avatar-title rounded-circle">{{initial firstName}}{{initial lastName}}</span>
                      </a>

                      <!-- Body -->
                      <div class="text-center mb-5">

                        {{!-- Nombre --}}
                        <h2 class="card-title">
                          <a class="item-name" href="profile-posts.html">{{firstName}} {{lastName}}</a>
                        </h2>

                        <!-- Text -->
                        <p class="small text-muted mb-3">
                          <span class="item-category">Adultos</span>
                        </p>

                        <!-- Buttons -->
                        <a class="btn btn-sm btn-white" href="tel:{{phone}}">
                          <i class="fe fe-phone mr-1"></i> {{phone}}
                        </a>
                        <a class="btn btn-sm btn-white" href="mailto:{{email}}">
                          <i class="fe fe-mail mr-1"></i> {{email}}
                        </a>

                      </div>

                      <!-- Divider -->
                      <hr class="card-divider mb-0">

                      <!-- List group -->
                      <div class="list-group list-group-flush mb-n3">
                        <div class="list-group-item">
                          <div class="row">
                            <div class="col">

                              <!-- Text -->
                              <small> <i class="fe fe-calendar mr-1"></i> Última sesión</small>

                            </div>
                            <div class="col-auto">

                              <!-- Text -->
                              <small>{{date createdAt "DD MMMM, YYYY"}}</small>

                            </div>
                          </div> <!-- / .row -->
                        </div>
                        <div class="list-group-item">
                          <div class="row">
                            <div class="col">

                              <!-- Text -->
                              <small> <i class="fe fe-info mr-1"></i> Estado</small>

                            </div>
                            <div class="col-auto">

                              <!-- Badge -->
                              <span class="item-status badge badge-soft-success">Activo</span>

                            </div>
                          </div> <!-- / .row -->
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
                {{/each}}

              </div>

              <!-- Pagination -->
              <div class="row no-gutters">

                <!-- Pagination (prev) -->
                <ul class="col list-pagination-prev pagination pagination-tabs justify-content-start">
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fe fe-arrow-left mr-1"></i> Anterior
                    </a>
                  </li>
                </ul>

                <!-- Pagination -->
                <ul class="col list-pagination pagination pagination-tabs justify-content-center"></ul>

                <!-- Pagination (next) -->
                <ul class="col list-pagination-next pagination pagination-tabs justify-content-end">
                  <li class="page-item">
                    <a class="page-link" href="#">
                      Siguiente <i class="fe fe-arrow-right ml-1"></i>
                    </a>
                  </li>
                </ul>

              </div>

              <!-- Alert -->
              <div class="list-alert alert alert-dark alert-dismissible border fade" role="alert">

                <!-- Content -->
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Checkbox -->
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cardAlertCheckbox" checked disabled>
                      <label class="custom-control-label text-white" for="cardAlertCheckbox"><span
                          class="list-alert-count">0</span> paciente(s)</label>
                    </div>

                  </div>
                  <div class="col-auto mr-n3">

                    <!-- Button -->
                    <button class="btn btn-sm btn-white-20">
                      Editar
                    </button>

                    <!-- Button -->
                    <button class="btn btn-sm btn-white-20">
                      Eliminar
                    </button>

                  </div>
                </div> <!-- / .row -->

                <!-- Close -->
                <button type="button" class="list-alert-close close" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>

              </div>

            </div>

          </div>

        </div>



      </div>
    </div>
  </div>
</div>