{{!-- << Hero >> --}}
<section id="hero" class="py-md-12 pb-5 pb-md-6" style="background: rgb(122,183,182);
background: linear-gradient(346deg, rgba(122,183,182,1) 0%, rgba(177,219,225,1) 35%, rgba(229,243,245,1) 100%);">

  <div class="container-fluid">
    <div class="row align-items-center">

      {{!-- Ilustración principal --}}
      <div class="col-12 col-md-5 col-lg-6 order-md-2">
        <img src="/img/illustrations/hero.svg" class="mb-3 mb-md-0 pr-8 img-fluid" alt="...">
      </div>

      {{!-- Bloque héroe --}}
      <div class="col-12 col-md-7 col-lg-6 order-md-1 px-0 px-md-12">
        {{!-- Título --}}
        <h1 class="display-3 font-weight-bold text-center text-md-left mb-6 mb-lg-8">
          Terapia psicológica <br> basada <span class="text-primary">en la evidencia</span>
        </h1>

        {{!-- Texto --}}
        <p class="font-size-lg text-center text-md-left text-gray-800 mb-6 mb-lg-8">
          ¡Bienvenido/a! Éste es un recurso de salud mental para ti. Munay es un espacio donde puedes explorar,
          preguntar, expresarte y exprimir nuestros servicios de psicología clínica y neuropsicología.
        </p>

        <!-- Botón CTA -->
        <div class="text-center text-md-left text-uppercase">
          <a href="/reserva" class="btn btn-primary btn-lg shadow lift mr-1">
            Reserva tu cita <i class="fe fe-arrow-right ml-3"></i>
          </a>
        </div>
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

{{!-- Shape --}}
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
    <svg viewBox="0 0 2880 48" fill="none">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor" />
    </svg>
  </div>
</div>



{{!-- << Información >> --}}
<section class="pt-8 pt-md-11 pb-8 bg-white">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between mb-3 mb-md-9">

      <!-- Vídeo -->
      <div class="col-12 col-md-12 col-lg-5 mb-6 mb-md-4 ml-0 ml-md-2 ml-lg-8 " data-aos="fade-right">


        <div class="embed-responsive embed-responsive-16by9 rounded">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t2jloGkXjPg" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


      </div>

      <!-- Titulo y Descripcion -->
      <div class="col-12 col-md-6 mr-9 px-8">

        <!-- Heading -->
        <h2 class="display-5 font-weight-bold">
          Acudir a terapia no debería ser motivo de vergüenza sino
          <span class="text-primary">un acto de <span data-toggle="typed"
              data-options='{"strings": ["valentía.", "responsabilidad.", "amor propio."]}'></span></span>
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-gray-700 mb-6">
          Ofrecemos evaluación e intervención psicológica desde una orientación cognitivo-conductual.
          Reunimos las sensaciones de pacientes y/o terapeutas que quieran compartirlas.
          Recomendamos materiales para conectar contigo o tu entorno.

          <br> <br> Es importante que sepas que:
        </p>

        <!-- List -->
        <div class="row">
          <div class="col-12 col-lg-6">

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <!-- Text -->
              <p class="text-primary">
                No creemos en los consejos rápidos y universales. Probaremos varias técnicas con respaldo científico
                hasta mejorar tu situación.
              </p>

            </div>

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <p class="text-primary mb-lg-0">
                Toda información dada es confidencial desde el primer contacto.
              </p>

            </div>

          </div>
          <div class="col-12 col-lg-6 mb-6 mb-md-0">

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <span class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                <i class="fe fe-check"></i>
              </span>

              <!-- Text -->
              <p class="text-primary">
                Todas las decisiones tomadas en el proceso terapéutico son consensuadas. Respetaremos tus tiempos.
              </p>

            </div>

            <!-- Item -->
            <div class="d-flex">

              <!-- Check -->
              <div class="badge badge-rounded-circle badge-primary-soft mr-1 mr-4">
                <i class="fe fe-check"></i>
              </div>

              <!-- Text -->
              <p class="text-primary mb-0">
                Deberías sentirte entendido/a y aceptado/a de manera incondicional. Si no es así, ¡háznoslo saber!
              </p>

            </div>

          </div>
        </div> <!-- / .row -->

      </div>





    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

{{!-- Shape --}}
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
    <svg viewBox="0 0 2880 56" fill="none">
      <path d="M720 28H0V56H995.5H1639.5H2880V28H2160C2160 28 1874 -9.82909e-10 1440 0C1006 9.829e-10 720 28 720 28Z"
        fill="currentColor" />
    </svg>
  </div>
</div>



{{!-- << Especialidades >> --}}
<section id="especialidades" class="pt-6 bg-gray-200">

  <div class="container">

    {{!-- Título y Descripción --}}
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Título -->
        <h2 class="display-5 font-weight-bold">
          Especialidades
        </h2>

        <!-- Texto -->
        <p class="font-size-lg text-gray-700 mb-7 mb-md-9">
          Exponemos un resumen de las dificultades que atendemos por áreas para que puedas
          consultar las que más te interesan.
        </p>

      </div>
    </div> <!-- / .row -->

    {{!-- Listado de especialidades --}}
    <div class="row align-items-center">

      {{!-- Adultos --}}
      <div class="col-12 col-md-3 text-center" data-aos="fade-up">

        <h3 class="font-weight-bold">Adultos</h3>

        {{!-- Ilustración --}}
        <img src="/img/illustrations/adultos.svg" alt="Terapia psicológica para Adultos" class="img-fluid mb-3">

      </div>

      {{!-- Infantojuvenil --}}
      <div class="col-12 col-md-3 text-center" data-aos="fade-up" data-aos-delay="50">

        <h3 class="font-weight-bold">Infantojuvenil</h3>

        {{!-- Ilustración --}}
        <img src="/img/illustrations/infantojuvenil.svg" alt="Terapia psicológica para Niños y Adolescentes"
          class="img-fluid mb-3">

      </div>

      {{!-- Tercera edad --}}
      <div class="col-12 col-md-3 text-center" data-aos="fade-up" data-aos-delay="100">

        <h3 class="font-weight-bold">Tercera edad</h3>

        {{!-- Ilustración --}}
        <img src="/img/illustrations/tercera-edad.svg" alt="Terapia psicológica para la Tercera edad"
          class="img-fluid mb-3">

      </div>

      {{!-- Parejas --}}
      <div class="col-12 col-md-3 text-center" data-aos="fade-up" data-aos-delay="100">

        <h3 class="font-weight-bold">Parejas</h3>

        {{!-- Ilustración --}}
        <img src="/img/illustrations/parejas.svg" alt="Terapia psicológica Parejas" class="img-fluid mb-3">
      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

{{!-- << Modalidades >> --}}
<section id="modalidades" class="pt-7 pt-md-11 pb-8 bg-gray-200">
  <div class="container">

    <div class="row align-items-center justify-content-between mb-8 mb-md-11">

      {{!-- Texto e Ilustración --}}
      <div class="col-12 col-md-6 mb-14 mb-md-3 align-self-start">

        {{!-- Título y Descripción --}}
        <div class="text-center text-md-left">

          <h2 class="font-weight-bold">Modalidades</h2>

          <p class="font-size-lg text-gray-700 mb-6">
            Atendemos las consultas en varias modalidades que puedes modificar a lo largo de la terapia sin ningún
            inconveniente. <br> <br> Puedes elegir la que prefieras y si cambias de opinión o cambian tus circunstancias
            personales, no habrá ningún problema en continuar el tratamiento.
          </p>

          {{!-- <p class="text-gray-700 mb-6">
            En caso de que reserves cita en la modalidad de videollamada y quieras después venir al despacho, basta con que nos escribas unos días de antelación para notificarnos el cambio.
          </p> --}}

          <div class="mb-6">
            <a href="/tarifas" class="font-weight-bold text-decoration-none text-uppercase mb-6">
              Consulta nuestras tarifas <i class="fe fe-arrow-right ml-3"></i>
            </a>
          </div>
        </div>

        {{!-- Ilustración --}}
        <div class="position-relative ml-7 mt-6 mb-n14">
          <img src="/img/illustrations/diente-de-leon.svg" class="img-fluid w-75 d-none d-md-block"
            alt="Precios psicológocos online madrid">
        </div>

      </div> <!-- ./col -->

      {{!-- Bloque de Modalidades --}}
      <div class="col-12 col-md-6 px-6 px-md-9 " data-aos="fade-left">

        {{!-- Carta --}}
        <div class="card card-border card-border-xl border-primary shadow-lg mb-6 mb-md-8 lift lift-lg">
          <div class="card-body text-center">
            <div class="list-group list-group-flush">

              {{!-- Presencial --}}
              <div class="list-group-item">

                <div class="icon-circle bg-primary text-white mb-5">
                  <i class="fe fe-map-pin"></i>
                </div>

                <h3 class="font-weight-bold">Presencial</h3>

                <p class="text-gray-700 mb-5">
                  El despacho está situado en Madrid Centro. <br> Buena comunicación y accesibilidad.
                </p>
              </div>

              {{!-- Vídeollamada --}}
              <div class="list-group-item">

                <div class="icon-circle bg-primary text-white mb-5">
                  <i class="fe fe-video"></i>
                </div>

                <h3 class="font-weight-bold">Vídeollamada</h3>

                <p class="text-gray-700">
                  Vía Skype o Whatsapp. <br> Gran flexibilidad y comodidad.
                </p>
              </div>

              {{!-- Teléfono --}}
              <div class="list-group-item">

                <div class="icon-circle bg-primary text-white mb-5">
                  <i class="fe fe-phone-call"></i>
                </div>

                <h3 class="font-weight-bold">Teléfono</h3>

                <p class="text-gray-700">
                  Anonimato y amplia disponibilidad.
                </p>
              </div>


            </div>
          </div> <!-- ./card-body -->
        </div> <!-- ./card -->

      </div> <!-- ./col -->

    </div> <!-- ./row -->

  </div> <!-- ./container -->
</section>

{{!-- Shape --}}
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    <svg viewBox="0 0 2880 480" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M720 0C1440 240 2160 240 2160 240H2880V480H-0.000244141V0H720Z"
        fill="currentColor" />
    </svg>
  </div>
</div>



{{!-- << Blog >> --}}
<section id="blog" class="py-4 bg-light">
  <div class="container">

    {{!--  Título y Descripción --}}
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <h2 class="font-weight-bold">Últimas entradas en nuestro blog</h2>

        <p class="font-size-lg text-gray-700 mb-7 mb-md-9">
          Explicamos de forma clara y sencilla conceptos de psicología útiles para tu día a día.
          Recogemos los temas que más dudas generan.
          Exponemos algunas publicaciones recientes en revistas científicas.
        </p>

      </div>
    </div> <!-- / .row -->

    {{!-- Entradas del Blog. Pendiente: hacer un forEach de los BlogPost.js en la db --}}
    <div class="row">

      {{#each blogPost}}
      <!-- /// Entrada 1 /// -->
      <div class="col-12 col-lg-4 d-flex my-5">

        <!-- Card -->
        <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">

          <!-- Imagen -->
          <a class="card-zoom" href="/blog/{{slug}}">
            <img src="{{coverURL}}" alt="..." class="img-fluid card-img-top">
          </a>

          <!-- Shape -->
          <div class="position-relative">
            <div class="shape shape-fluid-x shape-bottom svg-shim text-white">
              <svg viewBox="0 0 2880 48" fill="none">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor" />
              </svg>
            </div>
          </div>

          <!-- Body -->
          <a class="card-body" href="/blog/{{slug}}">

            {{!-- <!-- Categoría de la entrada -->
                        <div class="position-relative text-right mt-n8 mr-n4 mb-3">
                            <span class="badge badge-pill badge-primary">
                                <span class="h6 text-uppercase">Neuropsicología</span>
                            </span>
                        </div> --}}

            <!-- Heading -->
            <h3> {{title}} </h3>

            <!-- Text -->
            <p class="mb-0 text-muted">
              {{description}}
            </p>
          </a>

          <!-- Meta -->
          <a class="card-meta mt-auto" href="#!">

            <!-- Divisor -->
            <hr class="card-meta-divider">

            <!-- Avatar -->
            <div class="avatar avatar-sm mr-2">
              <img src="/img/photos/laurita.jpg" alt="Laura Marín Psicóloga Clínica Munay"
                class="avatar-img rounded-circle">
            </div>

            <!-- Autor -->
            <h6 class="text-uppercase text-muted mr-2 mb-0"> Laura Marín </h6>

            <!-- Fecha -->
            <p class="h6 text-uppercase text-muted mb-0 ml-auto">
              {{date createdAt "L"}}
            </p>

            <i class="fe fe-calendar text-muted ml-2 mb-1"></i>
          </a>

        </div>

      </div>
      {{/each}}


    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


{{!-- << Equipo >> --}}
<section class="py-0 py-md-11 bg-light">
  <div class="container">

    {{!-- Carta --}}
    <div class="card card-row shadow-light-lg" data-aos="fade-up">
      <div class="row no-gutters">

        {{!-- Foto --}}
        <a class="col-12 col-md-6 card-zoom bg-cover card-img-left rounded"
          style="background-image: url(img/photos/laurita.jpg);" href="/sobre-nosotros">

          {{!-- Foto versión móvil --}}
          <img src="img/photos/laurita.jpg" alt="Laura Marín Cuesta - Psicóloga"
            class="img-fluid w-75 d-md-none invisible rounded">

          {{!-- Shape --}}
          <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
            <svg viewBox="0 0 112 690" fill="none">
              <path d="M116 0H51V172C76 384 0 517 0 517V690H116V0Z" fill="currentColor" />
            </svg>
          </div>
        </a>

        {{!-- Descripción --}}
        <div class="col-12 col-md-6 order-md-1">
          <div class="card-body">
            <blockquote class="blockquote mb-0 text-center">

              <h2 class="font-weight-bold text-primary">Laura Marín Cuesta</h2>
              <p class="text-primary">Colegiada M-35246.</p>

              <p class="text-gray-700 mb-5 mb-md-7">
                Graduada en Psicología (bilingüe) en la UCM.<br>
                Máster en Psicología General Sanitaria en la UAH. <br>
                Posgrado en Neuropsicología Clínica I en la UAL.
              </p>

              {{!-- Contacto --}}
              <div class="icon icon-xs text-primary">

                {{!-- Correo eléctronico --}}
                <a href="/contacto"><i class="fe fe-mail mr-3"></i></a>

                {{!-- Linkedin --}}
                <a href="https://es.linkedin.com/in/laura-mar%C3%ADn-cuesta-940034116"
                  rel="me noopener noreferrer nofollow" target="_blank">
                  <i class="fe fe-linkedin"></i>
                </a>

              </div>
            </blockquote>
          </div>
        </div> {{!-- / .col --}}
      </div> {{!-- / .card --}}

    </div> {{!-- / .container --}}
</section>

{{!-- Shape --}}
<div class="position-relative mt-n13">
  <div class="shape shape-bottom shape-fluid-x svg-shim" style="color: #D8EDF0;">
    <svg viewBox="0 0 2880 480" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0V480H2880V0H2160Z"
        fill="currentColor" />
    </svg>
  </div>
</div>


{{!-- Comparte tu experiencia --}}
<section id="comparteTuExperiencia" class="pt-14 pb-8 pb-md-10" style="background-color: #D8EDF0;">
  <div class="container">

    {{!-- Título y Descripción --}}
    <div class="row justify-content-center">

      <div class="col-12 col-md-10 text-center mb-7">
        <h2 class="font-weight-bold">Comparte tu experiencia</h2>

        <p class="font-size-lg text-gray-800 mt-6 mb-7 mb-md-8">
          ¡Esta sección es exclusivamente para ti! Sabemos que vivir un proceso terapéutico es un viaje emocional lleno
          de crecimiento personal. Por ello, queremos dar visibilidad a todas aquellas personas que les apetezca
          publicar su aprendizaje.
        </p>
      </div>

    </div>

    {{!-- Carrousel de imágenes --}}
    <div class="flickity-button-white mb-4"
      data-flickity='{"pageDots": false,"cellAlign": "left", "wrapAround": true, "imagesLoaded": true}'>

      <div class="col-12 col-md-4 px-2">
        <img src="img/photos/blog1.jpg" class="img-fluid rounded" alt="...">
      </div>

      <div class="col-12 col-md-4 px-2">
        <img src="img/photos/blog1.jpg" class="img-fluid rounded" alt="...">
      </div>

      <div class="col-12 col-md-4 px-2">
        <img src="img/photos/blog1.jpg" class="img-fluid rounded" alt="...">
      </div>

      <div class="col-12 col-md-4 px-2">
        <a href="#">
          <img src="img/photos/blog1.jpg" class="img-fluid rounded" alt="...">
        </a>
      </div>
    </div>

    <div class="text-center text-primary mt-7">
      <a href="#!" class="font-weight-bold text-decoration-none">
        ÚNETE Y PARTICIPA<i class="fe fe-arrow-right ml-3"></i>
      </a>
    </div>

  </div> <!-- / .container -->
</section>

{{!-- Shape --}}
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    <svg viewBox="0 0 2880 56" fill="none">
      <path d="M720 28H0V56H995.5H1639.5H2880V28H2160C2160 28 1874 -9.82909e-10 1440 0C1006 9.829e-10 720 28 720 28Z"
        fill="currentColor" />
    </svg>
  </div>
</div>


