{{!-- Título y metadatos --}}
<section class="pt-8 pt-md-12 bg-gradient-light">
  <div class="container">

    <div class="row align-items-center justify-content-center">

      {{!-- Título y Descripción --}}
      <div class="col-12 col-md-10">
        <div class="container text-center">

          <h1 class="display-4 text-primary font-weight-bold mb-4 mt-8 mt-md-2">
            {{blogPost.title}}
          </h1>

          <p class="mb-7 text-gray-700 px-4" style="font-size: 1.3rem;">
            {{blogPost.description}}
          </p>

        </div>
      </div>

      <div class="col-12 text-center mb-4">
        <img src="{{blogPost.coverURL}}" alt="Munay - Psicología Clínica y Neuropsicología" class="img-fluid rounded">
      </div>

      {{!-- Metadata --}}
      <div class="col-12 col-md-10 col-lg-9 col-xl-8">
        <div class="row align-items-center justify-content-end py-5 border-bottom">

          {{!-- Avatar --}}
          <div class="col-auto">

            <div class="avatar avatar-xl">
              <img src="/img/photos/avatar-laura.jpg" alt="{{blogPost.author.name}}" class="avatar-img rounded-circle">
            </div>

          </div>


          <div class="col ml-n5">

            {{!-- Autor --}}
            <h4 class="mb-2">
              {{blogPost.author.name}}
            </h4>


            {{!-- Fecha de publicación --}}
            <time class="font-size-sm text-muted text-uppercase" datetime="{{date blogPost.createdAt "L"}}">

              <i class="fe fe-calendar text-muted mr-2 mb-1"></i>
              {{date blogPost.createdAt "L"}}

            </time>

          </div>

          <div class="col-auto">

            {{!-- Lista de redes sociales --}}
            <ul class="d-inline list-unstyled list-inline list-social">

              {{!-- Facebook --}}
              <li class="list-inline-item list-social-item mr-3">
                <a href="#!" class="text-decoration-none">
                  <img src="/img/icons/social/facebook.svg" class="list-social-icon" alt="Facebook">
                </a>
              </li>

              {{!-- Twitter --}}
              <li class="list-inline-item list-social-item mr-3">
                <a href="#!" class="text-decoration-none">
                  <img src="/img/icons/social/twitter.svg" class="list-social-icon" alt="Twitter">
                </a>
              </li>

              {{!-- LinkedIn --}}
              <li class="list-inline-item list-social-item mr-3">
                <a href="#!" class="text-decoration-none">
                  <img src="/img/icons/social/linkedin.svg" class="list-social-icon" alt="Linkedin">
                </a>
              </li>


            </ul>

            {{!-- Tiempo de lectura --}}
            <div class="mr-auto">
              <p class="font-size-sm text-muted mr-2 mb-0 mt-4">
                <i class="fe fe-clock text-muted mr-2 mb-1"></i> {{readTime blogPost.content}} min. de lectura
              </p>
            </div>



          </div>
        </div>

      </div>


    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

{{!-- Entradas --}}
<section class="pt-6 pt-md-8">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-md-10 col-lg-9">

        {{{blogPost.content}}}


      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>


{{!-- Footer Artículo --}}
<section class="pt-6 pt-md-8 pb-8 pb-md-11">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 ">

        <!-- Meta -->
        <div class="row align-items-center py-5 border-top border-bottom">

          <!-- Avatar -->
          <div class="col-auto mr-4">
            <div class="avatar avatar-xxl">
              <img src="/img/photos/avatar-laura.jpg" alt="Laura Marín Cuesta" class="avatar-img rounded-circle">
            </div>
          </div>

          {{!-- Datos del auto --}}
          <div class="col ml-n5">

            <h5> {{blogPost.author.name}} </h5>

            <p class="font-size-sm text-muted pr-8">
              {{blogPost.author.bio}}
            </p>

            <i class="fe fe-calendar text-muted mr-2 mb-1"></i>
            <!-- Date -->
            <time class="font-size-sm text-muted" datetime="{{date blogPost.createdAt "L"}}">
              {{date blogPost.createdAt "L"}}
            </time>

          </div>
          <div class="col-auto">

            <!-- Share -->
            <span class="h6 text-uppercase text-muted d-none d-md-inline mr-4">
              Compartir:
            </span>

            <!-- Icons -->
            <ul class="d-inline list-unstyled list-inline list-social">
              <li class="list-inline-item list-social-item mr-3">
                <a href="#!" class="text-decoration-none">
                  <img src="/img/icons/social/instagram.svg" class="list-social-icon" alt="...">
                </a>
              </li>
              <li class="list-inline-item list-social-item mr-3">
                <a href="#!" class="text-decoration-none">
                  <img src="/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
                </a>
              </li>
              <li class="list-inline-item list-social-item mr-3">
                <a href="#!" class="text-decoration-none">
                  <img src="/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
                </a>
              </li>
            </ul>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

{{!-- Shape  --}}
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
    <svg viewBox="0 0 2880 48" fill="none">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor" />
    </svg>
  </div>
</div>

{{!-- Suscripción Newsletter --}}
<section class="pt-7 pt-md-10 bg-light">

    <div class="container py-6 py-md-8 border-bottom border-gray-300">
        <div class="row align-items-center">

            <div class="col-12 col-md">
            
                <!-- Heading -->
                <h3 class="mb-1 font-weight-bold" style="font-size: 1.80rem;">
                     Suscríbete a nuestro newsletter
                </h3>

                <!-- Text -->
                <p class="font-size-lg text-muted mb-6 mb-md-0">
                     Prometemos informate de las novedades que te interesen  <i class="fa fa-smile text-primary ml-2"></i>
                </p>

            </div>
            <div class="col-12 col-md-5">

                <!-- Form -->
                <form action="/subscribirse" method="POST">
                    <div class="row">
                        <div class="col">

                            <!-- Input -->
                            <input type="email" name="email" class="form-control" placeholder="Tu correo eléctronico" required>

                        </div>
                        <div class="col-auto ml-n5">

                            <!-- Button -->
                            <button class="btn btn-primary lift" type="submit">
                                Suscribirse
                            </button>

                        </div>
                    </div> <!-- / .row -->
                </form>

            </div>

        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>