<!-- WELCOME
    ================================================== -->
<section id="headerBlog" data-jarallax data-speed=".8" class="pt-12 pb-10" style="background: rgb(147,203,202);
background: linear-gradient(0deg, rgba(147,203,202,1) 0%, rgba(177,219,225,1) 35%, rgba(229,243,245,1) 100%);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">

                <!-- Heading -->
                <h1 class="display-2">
                    Blog
                </h1>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<!-- SHAPE
    ================================================== -->
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <svg viewBox="0 0 2880 56" fill="none">
            <path
                d="M720 28H0V56H995.5H1639.5H2880V28H2160C2160 28 1874 -9.82909e-10 1440 0C1006 9.829e-10 720 28 720 28Z"
                fill="currentColor" />
        </svg>
    </div>
</div>

<!-- SEARCH
    ================================================== -->
<section class="mt-n8 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Form -->
                <form class="rounded shadow mb-4">
                    <div class="input-group input-group-lg">

                        <!-- Prepend -->
                        <div class="input-group-prepend">
                            <span class="input-group-text border-0 pr-1">
                                <i class="fe fe-search"></i>
                            </span>
                        </div>

                        <!-- Input -->
                        <input type="text" class="form-control border-0 px-1"
                            aria-label="Encuentra lo que estás buscando..."
                            placeholder="Encuentra lo que estas buscando...">

                        <!-- Append -->
                        <div class="input-group-append">
                            <span class="input-group-text border-0 py-0 pl-1 pr-3">
                                <a class="btn btn-sm btn-primary" href="blog-search.html">
                                    Buscar
                                </a>
                            </span>
                        </div>

                    </div>
                </form>

                {{!-- <!-- Categorías -->
                <div class="row align-items-center">
                    <div class="col-auto">

                        <!-- Heading -->
                        <h6 class="font-weight-bold text-uppercase text-muted mb-0">
                            Categorías:
                        </h6>

                    </div>
                    <div class="col ml-n5">

                        <!-- Badges -->
                        <a class="badge badge-pill badge-secondary-soft" href="blog-search.html">
                            <span class="h6 text-uppercase">Addiciones</span>
                        </a>
                        <a class="badge badge-pill badge-secondary-soft" href="blog-search.html">
                            <span class="h6 text-uppercase">Neuropsicología</span>
                        </a>
                        <a class="badge badge-pill badge-secondary-soft" href="blog-search.html">
                            <span class="h6 text-uppercase">Psicología clínica</span>
                        </a>
                        <a class="badge badge-pill badge-secondary-soft" href="blog-search.html">
                            <span class="h6 text-uppercase">Depresión</span>
                        </a>

                    </div>
                </div> <!-- / .row --> --}}

            </div>
        </div> <!-- / .row -->
    </div>
</section>

{{!-- Entrada destacada --}}
<section class="pt-8 bg-light">
    <div class="container">
        <div class="row">


            <div class="col-12">

                <!-- Card -->
                <div class="card card-row shadow-light-lg mb-6 lift lift-lg">
                    <div class="row no-gutters">
                        <div class="col-12">

                            <!-- Badge -->
                            <span class="badge badge-pill badge-light badge-float badge-float-inside">
                                <span class="h6 text-uppercase">Destacado</span>
                            </span>

                        </div>
                        <a class="col-12 col-md-6 order-md-2 bg-cover card-img-right"
                            style="background-image: url(/img/photos/blog3.png);" href="#!">

                            <!-- Image (placeholder) -->
                            <img src="/img/photos/blog3.png" alt="..." class="img-fluid d-md-none invisible">

                            <!-- Shape -->
                            <div class="shape shape-left shape-fluid-y svg-shim text-white d-none d-md-block">
                                <svg viewBox="0 0 112 690" fill="none">
                                    <path d="M2.14577e-06 0H62.7586V172C38.6207 384 112 517 112 517V690H2.14577e-06V0Z"
                                        fill="currentColor" />
                                </svg>
                            </div>

                        </a>
                        <div class="col-12 col-md-6 order-md-1">

                            <!-- Body -->
                            <a class="card-body" href="#!">

                                <!-- Heading -->
                                <h3> Travel Can Keep You Creatively Inspired. </h3>

                                <!-- Text -->
                                <p class="mb-0 text-muted">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec condimentum quam.
                                    Fusce pellentesque faucibus lorem at viverra. Integer at feugiat odio. In placerat
                                    euismod risus proin erat purus.
                                </p>
                            </a>

                            <!-- Meta -->
                            <a class="card-meta" href="#!">

                                <!-- Divider -->
                                <hr class="card-meta-divider">

                                <!-- Avatar -->
                                <div class="avatar avatar-sm mr-2">
                                    <img src="/img/photos/laurita.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>

                                <!-- Author -->
                                <h6 class="text-uppercase text-muted mr-2 mb-0"> Laura Marín </h6>

                                <!-- Date -->
                                <p class="h6 text-uppercase text-muted mb-0 ml-auto">
                                    <time datetime="2019-05-02">May 02</time>
                                </p>

                            </a>

                        </div>

                    </div> <!-- / .row -->
                </div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>


{{!-- Entradas --}}
<section class="pt-7 pt-md-10 bg-light">
    <div class="container">

        <!-- Heading -->
        <h2 class="mb-5 font-weight-bold">
            Últimas entradas
        </h2>

        <!-- ||| Entradas del Blog ||| -->
        <div class="row">

            {{#each blogPost}}
            <!-- /// Entrada 1 /// -->
            <div class="col-12 col-lg-4 d-flex my-5">

                <!-- Card -->
                <div class="card mb-6 mb-lg-0 shadow-light-lg lift lift-lg">

                    <!-- Imagen -->
                    <a class="card-zoom" href="/blog/{{slug}}">
                        <img src="{{coverURL}}" alt="..." class="img-fluid card-img-top">
                    </a>

                    <!-- Shape -->
                    <div class="position-relative">
                        <div class="shape shape-fluid-x shape-bottom svg-shim text-white">
                            <svg viewBox="0 0 2880 48" fill="none">
                                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor" />
                            </svg>
                        </div>
                    </div>

                    <!-- Body -->
                    <a class="card-body" href="/blog/{{slug}}">

                        {{!-- <!-- Categoría de la entrada -->
                        <div class="position-relative text-right mt-n8 mr-n4 mb-3">
                            <span class="badge badge-pill badge-primary">
                                <span class="h6 text-uppercase">Neuropsicología</span>
                            </span>
                        </div> --}}

                        <!-- Heading -->
                        <h3> {{title}} </h3>

                        <!-- Text -->
                        <p class="mb-0 text-muted">
                            {{description}}
                        </p>
                    </a>

                    <!-- Meta -->
                    <a class="card-meta mt-auto" href="#!">

                        <!-- Divisor -->
                        <hr class="card-meta-divider">

                        <i class="fe fe-clock text-muted mr-2 mb-0"></i>

                        <h6 class="text-uppercase text-muted mr-2 mb-0"> 10 min. </h6>



                        <!-- Autor -->


                        <!-- Fecha -->
                        <p class="h6 text-uppercase text-muted mb-0 ml-auto">
                            {{date createdAt "MMM DD, YYYY"}}
                        </p>

                        <i class="fe fe-calendar text-muted ml-2 mb-1"></i>
                    </a>

                </div>

            </div>
            {{/each}}


        </div> <!-- / .row -->



    </div> <!-- / .row -->

    </div> <!-- / .container -->
</section>